<nav class="navbar navbar-expand-lg navbar-light bg-secondary text-white">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Book Shop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a *ngIf="currentUser" class="nav-link active" aria-current="page" routerLink="books">Books</a>
          </li>
          <li>
            <a *ngIf="currentUser" class="nav-link active" aria-current="page" routerLink="cart">Cart</a>
          </li>
          <li *ngIf="adminUser" class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mangement
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="createBook">Create Book</a></li>
            </ul>
          </li>
        </ul>
        <form *ngIf="currentUser" [formGroup]="searchForm" class="d-flex" (ngSubmit)="search()">
          <input class="form-control me-2" class="form-control"  formControlName="searchString" type="search" placeholder="Search Title or Author" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
        <button *ngIf="!currentUser" routerLink="login" type="button" class="btn btn-light" aria-current="page">Log In</button>
        <button *ngIf="!currentUser" routerLink="register" type="button" class="btn btn-light" aria-current="page">Register</button>
        <button *ngIf="currentUser" (click)="logoutHandler()" type="button" class="btn btn-light" aria-current="page">Log Out</button>
      </div>
    </div>
  </nav>
