.card{
    margin: 0.1em;
}

.card-body{
    padding: 0.5em;
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}


#price-sold-items{
    display: flex;
    justify-content: space-around;
}

.price-filter-input{
    width: 10.00%;
    margin: 0.5em;
    
}
#filter-Form{
    justify-content: center;
}

.middle-button{
    text-align: center;
}
